{
  "projects": {
    "default": "madkontrollen-inventory"
  },
  "targets": {
    "madkontrollen-inventory": {
      "hosting": {
        "madkontrollen-inventory": [
          "madkontrollen-inventory"
        ]
      }
    }
  },
  "etags": {}
}
